﻿@{
    ViewData["Title"] = "Home Page";
}

<form action="/Prestamo/Evaluar" method="post">

Nombre: <input type="text" name="nombre"><br>

Edad: <input type="number" name="edad"><br>

¿Trabaja?
<input type="radio" name="trabaja" value="si"> Sí
<input type="radio" name="trabaja" value="no"> No<br>

Ingreso: <input type="number" name="ingreso"><br>

¿Tiene deudas?
<input type="radio" name="deudas" value="si"> Sí
<input type="radio" name="deudas" value="no"> No<br>

Monto: <input type="number" name="monto"><br>

Acepta términos
<input type="checkbox" name="terminos" value="ok"><br>

<input type="submit" value="Enviar">

</form>